# First Problem - Descriptive Statistics

In [71]:
import pandas as pd

df = pd.read_csv('../data/wine.csv')

In [72]:
# First 5 rows of the data
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.90,0.4451,0.1813,2.049401,0.070574,16.593818,42.27,0.9982,3.27,0.71,8.64,7
1,8.40,0.5768,0.2099,3.109590,0.101681,22.555519,16.01,0.9960,3.35,0.57,10.03,8
2,7.54,0.5918,0.3248,3.673744,0.072416,9.316866,35.52,0.9990,3.31,0.64,9.23,8
3,5.39,0.4201,0.3131,3.371815,0.072755,18.212300,41.97,0.9945,3.34,0.55,14.07,9
4,6.51,0.5675,0.1940,4.404723,0.066379,9.360591,46.27,0.9925,3.27,0.45,11.49,8

In [73]:
# Show column names and their data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1000 non-null   float64
 1   volatile acidity      1000 non-null   float64
 2   citric acid           1000 non-null   float64
 3   residual sugar        1000 non-null   float64
 4   chlorides             1000 non-null   float64
 5   free sulfur dioxide   1000 non-null   float64
 6   total sulfur dioxide  1000 non-null   float64
 7   density               1000 non-null   float64
 8   pH                    1000 non-null   float64
 9   sulphates             1000 non-null   float64
 10  alcohol               1000 non-null   float64
 11  quality               1000 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 93.9 KB

In [74]:
# Description of the data: mean, std, min, max, quartiles, etc
desc = df.describe()

# Drop redundant 'count' column
desc = desc.drop(labels='count')


# Add more descriptive statistics as rows
desc.loc['mode'] = df.mode().iloc[0]
desc.loc['range'] = (desc.loc['max'] - desc.loc['min'])
desc.loc['var'] = df.var()
desc.loc['iqr'] = (desc.loc['75%'] - desc.loc['25%'])
desc.loc['skew'] = df.skew()
desc.loc['kurt'] = df.kurtosis()

# Show the data frame
desc

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
mean,7.152530,0.520839,0.270517,2.567104,0.081195,14.907679,40.290150,0.995925,3.303610,0.598390,10.592280,7.958000
std,1.201598,0.095848,0.049098,0.987915,0.020111,4.888100,9.965767,0.002020,0.104875,0.100819,1.510706,0.902802
min,3.320000,0.139900,0.116700,0.032555,0.015122,0.194679,3.150000,0.988800,2.970000,0.290000,6.030000,5.000000
25%,6.377500,0.456100,0.237800,1.896330,0.066574,11.426717,33.785000,0.994600,3.230000,0.530000,9.560000,7.000000
50%,7.150000,0.524850,0.272200,2.519430,0.082167,14.860346,40.190000,0.996000,3.300000,0.595000,10.610000,8.000000
75%,8.000000,0.585375,0.302325,3.220873,0.095312,18.313098,47.022500,0.997200,3.370000,0.670000,11.622500,9.000000
max,11.490000,0.805100,0.409600,5.550755,0.140758,27.462525,69.960000,1.002600,3.710000,0.960000,15.020000,10.000000
mode,6.540000,0.554600,0.301900,0.032555,0.015122,0.194679,35.200000,0.995900,3.340000,0.590000,9.860000,8.000000
range,8.170000,0.665200,0.292900,5.518200,0.125635,27.267847,66.810000,0.013800,0.740000,0.670000,8.990000,5.000000
var,1.443837,0.009187,0.002411,0.975977,0.000404,23.893519,99.316519,0.000004,0.010999,0.010164,2.282233,0.815051
iqr,1.622500,0.129275,0.064525,1.324544,0.028738,6.886381,13.237500,0.002600,0.140000,0.140000,2.062500,2.000000
skew,-0.028879,-0.197699,-0.045576,0.132638,-0.051319,0.007130,-0.024060,-0.076883,0.147673,0.149199,-0.018991,-0.089054
kurt,-0.019292,0.161853,-0.104679,-0.042980,-0.246508,-0.364964,0.063950,0.016366,0.080910,0.064819,-0.131732,0.108291

`mean`: mean\
`std`: standard deviation\
`min`: minimum value\
`25%`: first quartile\
`50%`: second quartile (median)\
`75%`: third quartile\
`max`: maximum value\
`mode`: mode\
`range`: range\
`var`: variance\
`iqr`: interquartile range (IQR)\
`skew`: skewness\
`kurt`: kurtosis